version: '3.7'

services:

  db:
    build: images/db/
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432

  adminer:
    image: adminer:4.7.3
    restart: always
    ports:
      - 9000:8080
